

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

* {
    font-family: 'Rubik' , sans-serif !important;
}


@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Rubik:wght@400;600&display=swap');

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px;
    box-shadow: 0px -5px 5px 1px rgba(255, 140, 16, 0.982) , 0px 0px 5px 1px rgb(210, 210, 210);
    
}
.header { 
    width: 100%;
    height: 15vh;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex: 3;
    position: fixed;
    background-color: white;
    z-index: 999;
}

.menubar {
    display: flex;
    flex-direction: column;
    flex: 7;
    
}

.header-contact {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    box-shadow: 0 0 2px 1px  rgb(240, 240, 240);
}

.header-contact img{
    width: 18px;
    height: 18px;
    margin-left: 5px;
    
}

.header-contact a{
    text-decoration: none !important;
    color: black;
    margin-right: 30px;
    align-self: center;
}

.header-contact a:hover {
    opacity: 0.7;
    color: black;
}

.header-panel-right {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
}

.header-panel-right img {
    margin-right: 20px;
}
.header-panel-right button {
    margin-right: 30px;
    background-color: white;
    color: #f27405;
    border: none;
    height: 60%;
    border-radius: 5px;
    width: 170px;
    font-weight: bold;
    box-shadow: 0 0 10px 1px rgb(210, 210, 210);
}

@media (max-width: 768px) {
    .header-contact span{
        display: none;
    }

    .header-panel-right button {
        display: none;
    }
}


html {
    font-family: "Rubik" , sans-serif;
}

.opened {
    display: block !important;
}

.side-menu {
    flex-direction: column;
    display: none;
    position: fixed;
    top: 0;
    right : 0; /* Adjust this value as needed to control the menu's initial position */
    width: 40%;
    height: 100%;
    background-color: #f27405;
    transition: right 3s ease;
    z-index: 9999;
    
}


.side-menu-transparent {
    background-color: #f27405;
    opacity: 0.7;
    display: none;
    z-index: 9999;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    width: 60%;
}

@media (max-width: 468px) { 
    .side-menu {
        width: 100%;
        z-index: 9999;
    }
    .side-menu-transparent {
        position: relative;
    }
}

.side-menu-links ul > a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.side-menu-links {
    margin-left: 00px;
    margin-top: 40px;
}

.side-menu-links ul {
    list-style: none;
}

.side-menu-links ul:nth-child(1) li{
    margin-top: 15px;
}
.side-menu.open {
    right: 10px;
}

.side-menu-close {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    
}

.side-menu-close img{
    width: 30px;
    height: 30px;
    box-shadow: 0 0 10px white;
    border-radius: 15px;
}

.side-menu-link-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.side-menu-link-buttons button{
    margin-top: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 5vh;
    color: #f27405;
    font-weight: bold;
}



.header-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: gray;
}
.header-bar svg {
    padding: 10px;
}
.logo-div img{
    width: 150px;
    height: 60px;
}

.logo-div {
    margin-left: 20px;
}

.header-rightside {
    display: flex;
    align-items: center;
}



.menu-icon {
    display: flex;
    align-items: center;
}



.search-icons { 
    margin: 15px;
}

.default-font {
    font-size: 16px !important;
}

.blog-author-infos img{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 7px;
    background-size: cover; 
    object-fit: contain;
    background-color: #363D4B;
}

.blog-author-infos{
    display: flex; 
    flex-direction: row;
    width: 90%;
    margin-left: 20px;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 20px;
}

.blog-author-infos a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.blog-author-infos p{
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    align-self: center;
    font-family: "Rubik",sans-serif;
}
.blogs {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: stretch;
    

}
.most-popular-blog {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    flex: 4;
    height: 70vh !important;
    border-radius: 1%;
    background-size: cover;
    background-image: linear-gradient(rgba(40,40,40,0.6), rgba(40,40,40,0.6)), url("https://pendc.com/assets/imgs/gallery/large/GaleriFoto-1.jpg");
    

}

.blog-page-content {
    height: auto;
    margin-top: 50px;
    
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
    margin-top: 150px;
}

@media (min-width: 1200px) { 
    .blog-page-content {
        width: 1200px !important;
    }
}



.most-popular-blog a{
    text-decoration: none;

}

.most-popular-blog-content {
    margin-left: 30px;
    max-height: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    justify-content: flex-end;
}



@media (max-width: 480px) { 
    .most-popular-blog-content {
        width: 90%;
    }

    .blog-page-content {
        width: 95%;
    }
}
.most-popular-blog-content a:nth-child(1) > span {
    font-size: 13px;
    color: #f27405;
    font-weight: bold;

}

.most-popular-blog-content span:nth-child(1){
   color: white;
   font-size: 28px;
}

@media (max-width: 768px) {
    .most-popular-blog-content span:nth-child(1){
        font-size: 22px;
     }

     .most-popular-blog-content a:nth-child(1) > span {
        font-size: 11px;
        color: #f27405;
        font-weight: bold;
        padding-top: 20px;
    }

    .most-popular-blog-content a:nth-child(2) > span {
        font-size: 11px;
        color: #f27405;
        font-weight: bold;
        padding-top: 20px;
    }
}

.most-popular-blog-content span:nth-child(4){
    color: white;
    font-size: 18px;
 }
.most-popular-blog-content-paragraphs a:nth-child(2)> span{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.most-popular-blog-content-paragraphs  a:nth-child(2) {
    text-decoration: none;
    
}

.most-popular-blog-content-paragraphs  a:nth-child(2) p{
    font-family: 'Rubik', sans-serif;
}

.most-popular-blog-content-paragraphs  a:nth-child(1) {
    text-decoration: none;
}



.most-popular-blog-content-paragraphs a:nth-child(2) p:nth-child(2){
    font-size: 18px;
    color: white
}


.most-popular-blog{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #c9ced2;
    color: black;
    height: 70vh;
    flex: 2;
    

}

.most-reads { 
    margin-top: 0px !important; 
    flex: 1; 
    margin-left: 40px;
    height: 70vh !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px !important;
    align-self: center;
}

.most-reads-heading {
    flex: 1;
}

.most-reads-heading span{
    font-size: 11px;
    color: #808080;
}
.most-reads-container {
    display: flex;
    flex-direction : column;
    margin-bottom: 20px !important;
    justify-content : space-between;
    
}
.most-reads p:nth-child(1){   
    font-size: 18px;
    
    color: black;
    
}
 

.navbar a {
    text-decoration: none;
}

.navbar ul li:nth-child(6)  a{
    color: #363D4B;
}

@media (max-width: 1100px) {
    .most-popular-blog {
      flex-basis: 100%; /* Ekran genişliği 600 pikselin altına düştüğünde kutular tam genişlik alır */
    }

    .most-reads {
        flex-basis: 100%; /* Ekran genişliği 600 pikselin altına düştüğünde kutular tam genişlik alır */
        margin-left: 0px;
        
        
    }

    .most-reads-heading {
        margin-top: 50px;
    }
   

  }



.most-read-blog {
    margin-top: 5px;
    display: flex;
    margin-bottom: 0px;
    flex-direction: row;
    height: 13vh;
    
}

.most-read-blog img{
    width: 85px;
    border-radius: 5%;

    
}
.most-read-blog p{
    align-self: center;
    font-size: 16px;
    width: 70%;
    margin-left: 20px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.most-read-blog span{
    color: #f27405;
    font-size: 11px;
    align-self: center;
}



.most-read-blog a{
    display: flex;
    flex-direction: row;
}

.most-read-blog-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: auto;
}

.header-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0px 0px 10px  1px rgb(230, 230, 230);
}
.header-panel-right {
    height: 100%;
}

.header-panel-left {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: auto;
    padding-left: 30px;
    padding-top: 10px;
    text-decoration: none;
}

.header-panel-left span{
    color: black;
}
.header-panel-left a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.header-panel-left a:nth-child(6) {
    text-decoration: underline;
    color: #f27405;
}

.header-panel-left a:nth-child(6) span{
    color: #f27405;
}


@media (max-width: 1248px) {
    .header-panel  {
        justify-content: flex-end;
    }
    .header-panel-left {
        display: none;
    }
}

.header-panel-left a{
    text-decoration: none;
    margin-left: 25px;
}
@media (min-width: 1248px){
    .header-panel-right img {
        display: none;
    }
}
.most-read-blog-container-image img{
    width: 70px;
    height: 70px;
}
.most-read-blog a:nth-child(1){
    font-size: 11px;
    font-family: sans-serif;
    text-decoration: none;
    color: #f27405;
    margin-top: 10px;
    
}

.seperator {
    margin-top: 15px;
    background-color: #E9ECEF;
    height: 1px;
}

.most-read-blog a:nth-child(1):hover {
    color: gray;
}

.most-read-blog a:nth-child(3){
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.choosen-blogs-title { 
    margin-top : 50px;
    margin-bottom: 40px;
}

.choosen-blogs-title span{ 
    font-size: 11px;
    color: #808080;
    font-weight: bold;
}

.choosen-blogs-title p:nth-child(1){ 
    font-size: 18px;
    font-weight: bold;
}

.slider-container {
    height: auto;
    width: 100%;
    flex: 4;
    
}




.slidable-box {
    display: flex;
    flex-direction: column;
    height: auto;
    
    justify-content: space-between;
   
}
.slidable-box a:nth-child(1)>img{
    width: 90%;
    border-radius: 5%;
}

.slidable-box div>a:nth-child(1){
    color: #f27405;
    font-size: 11px;
}

.slidable-box div>a:nth-child(2){
    color: black;
}
.slidable-box div>a:hover{
    text-decoration: none;
}





.slick-control {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align the arrow controls horizontally */
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Style the previous and next arrow controls */
.slick-control .prev,
.slick-control .next {
    cursor: pointer;
    box-shadow:  0 0 2px 5px  rgb(240, 240, 240);
    border-radius: 50px;
    align-items: center;
}

/* Optionally, you can add some styling to the arrow images */
.slick-control img {
    padding: 2px;
    object-fit: contain;
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

.slick-control .prev { 
    margin-right: 30px;
}

.slick-control .next { 
    margin-left: 5px;
}







.special-product-box {
    display: flex;
    height: 18vh;
    background-color: #F8F9FA;
    margin-top: 50px;
}

.trend-heading {
    margin-top: 50px;

}
.trend-heading p {
    font-size: 18px;
    font-weight: bold;
}

.trend-heading span { 

    color: #808080;
    font-size: 11px;
    font-weight: bold;
    
}

@media (max-width : 768px) {
    .trend-heading p {
        font-size: 16px;
        font-weight: bold;
    }
    
    .trend-heading span { 
    
        color: #808080;
        font-size: 9px;
        font-weight: bold;
        
    }
}


.trend-blogs-container {
    display: flex;
    flex-wrap: wrap;
    
}

.most-trend-blog-box {
    flex: 1;
    height: 60vh;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 2%;
    flex-direction: column;
    color: white;
    background-size: cover;
    background-image: linear-gradient(rgba(40,40,40,0.6), rgba(40,40,40,0.6)), url("https://pendc.com/assets/imgs/gallery/large/GaleriFoto-1.jpg");
    transition: transform 0.3s ease;
    
}

.most-trend-blog-box img:hover {
    transform: scale(1.1);
}

.other-trend-blogs {
    flex: 1;
    display: flex;
    height: 60vh ;
    flex-wrap: wrap;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: space-between;
}

.trend-blog {
   
    border-radius: 3%;
    height: 48%;
    flex-basis: 48%;
    background-size: cover;
    background-image: linear-gradient(rgba(40,40,40,0.7), rgba(40,40,40,0.7)), url("https://pendc.com/assets/imgs/gallery/large/GaleriFoto-1.jpg");
}


.trend-blog-span {
    margin-top: 30px !important;
    font-size: 12px !important;
}

@media (max-width: 468px) { 
    .trend-blog-title-span { 
        font-size: 17px !important;
    }
    .trend-blog-content-span {
        font-size: 14px !important;
    }
}
.other-trend-blogs div:nth-child(3) {
    align-self: flex-end;
}

.other-trend-blogs div:nth-child(4) {
    align-self: flex-end;
}
@media (max-width: 480px) {
    .trend-blog {
        flex-basis: 100%;
        margin-top:20px;
    }

    .other-trend-blogs {
        margin-top: 10px;
    }

    .trend-heading {
        margin-top: 20px !important;
    }
}

.trend-blog a:hover {
    text-decoration: none;

}

.trend-blog-author-infos p {
    color: white;
}

@media (max-width: 960px) {
    .most-trend-blog-box {
        flex-basis: 100%;
        margin-right: 0px;
    }
    .other-trend-blogs {
        margin-top: 40px;
    
    }
}

@media (max-width: 1100px) {
    .choosen-blogs-title {
        margin-top: 50px;
    }
}



.trend-blog-content-paragraphs p:nth-child(1){
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

.trend-blog-content-paragraphs a:nth-child(1) p{
    font-size: 12px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Rubik', sans-serif;
    color: #f27405;
}

.trend-blog-author-infos {
        
        display: flex; 
        flex-direction: row;
        width: 30%;
        margin-left: 20px;
        justify-content: flex-start;
        margin-left: 10px;
        margin-top: 20px;

}

.trend-blog-author-infos img{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 7px;
    background-size: cover; 
    object-fit: contain;
    background-color: #363D4B;
}

.trend-blog-author-infos p{
    margin-left: 10px;
    margin-top: 10px;
}

.trend-blog-content {
    margin-top: 30px;
}

.trend-blog-content span{
   margin-left: 10px;
   color: #f27405;
   margin-top: 30px;
   font-size: 11px;
   font-weight: bold;
}
.trend-blog-content p {
    color: white;
    margin-left: 10px;
}
.trend-blog-content a:hover{
    text-decoration: none;
}

.month-blogs-container {
    margin-top: 10px;
}

@media(max-width:480px) {
    .month-blogs-container {
        margin-top: 400px;
    }
}
.month-blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.month-blogs-section1 {
    flex-basis: 30%;
    
}
.month-blogs-section2 {
    flex-basis: 30%;
    
}

.month-blogs-section3 {
    flex-basis: 30%;
    
}

@media (max-width: 1000px) { 
    .month-blogs-section1 {
        flex-basis: 100%;
        
    }
    .month-blogs-section2 {
        flex-basis: 100%;
        
    }

    .month-blogs-section3 {
        flex-basis: 100%;
        
    }
}
.monthly-blog {
    
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
} 
.monthly-blog img{
    width: 70px;
} 
.monthly-blog span{
    margin-left: 10px;
    color: #808080;
} 
.monthly-blog p{
    width: 80%;
    margin-left: 20px;
    align-self: center;
    margin-top : 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
} 
.monthly-blog a:hover{
    text-decoration: none;
}


.one-cikanlar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    background-color: black;
}

.one-cikanlar-heading p:nth-child(1){
    padding-left: 10%;
    padding-top: 5%;
    color: white;
    font-size: 18px;
}

.one-cikanlar-heading p:nth-child(1) span{
    color: #f27405;
    font-size: 11px;
    font-weight: bold;
    
}

.bs-slider-box {
    height: 130vh !important;
    background-size: contain;
    background-size: 120vh !important;
    background-image: linear-gradient(rgba(40, 40, 40, 0.6),rgba(40, 40, 40, 0.6)),url("https://pendc.com/assets/imgs/gallery/large/GaleriFoto-1.jpg");
}
.carousel-item  {
    height: 110vh;
}



#carouselExampleIndicators  {
    margin-top: 100px;
    width: 80%;
    align-self: center;
    height: 130vh;
}


.latest-and-recomment-blogs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -150px; 
}

.latest-blogs {
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    
    height: auto;
    width: 100%;
}
.recomment-blogs-container {
    flex:3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;

}
.recomment-blogs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}

@media (max-width : 1020px) {
    .recomment-blogs-container {
        flex-basis: 100%;
        margin-top: 10vh;
    }
    .latest-blogs {
        flex-basis: 100%;
    }
}

.latest-blog-card {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-top: 20px;
    
    

}

.latest-blog-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-blog-card {
    flex-basis: 42.5%;
    margin-right: 30px;
}

@media (max-width: 468px) { 
    .latest-blog-card {
        margin-right: 0px;
    }
}
.latest-blog-card img{
    object-fit: contain;
    
    align-self: center;
    width: 100%;
}


.latest-blog-card span{
    width: 80%;
}

.latest-blog-author img{
    width: 40px;
    max-width: 40px;
    height: 40px;
    background-color: #363D4B;
    padding: 4px;
    object-fit: contain;
    border-radius: 20px;
}



.latest-blog-card span:nth-child(2){
    color: #f27405;
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
}

.latest-blog-card span:nth-child(3){
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-size: 19px;
}

.latest-blog-card span:nth-child(4){
    color: black;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .latest-blog-card {
        flex-basis: 100%;
    }

    .latest-blog-card img{
        width: 100% !important;
    }
}

.latest-blog-author {
    display: flex;
    flex-direction: row;


}
.latest-blog-author span:nth-child(2){
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}
.latest-blog-author button {
    width: 90%;
    height: 70%;
    margin-top: 5px;
    background-color: white;
    color: #f27405;
    border: 1px solid  #e2dfdf;

}

.latest-blog-author button:hover {
    background-color: #7a7773;
    color: white;

}
.popular-blog-cards {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: baseline;
}
.popular-blog-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.popular-blog-card img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

.popular-blog-card span:nth-child(2){
    color: #808080;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

.popular-blog-card span:nth-child(3){
    color: black;
    font-weight: bold;
    
}

.banner {
    position: sticky;
    top : 100px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width : 100%;
    margin-top: 70px;

}

@media (max-width: 767px) { 
    .banner {
        position: static;
    }
}
.banner img {
    
    width: 300px;
}

.fixed-banner {
    justify-content: flex-end !important;
    right: 188px;
    position: fixed;
    left : 10;
    top : 140px;
    bottom: 10px;
    
}

.hidden {
    display: none;
}

#carouselExampleIndicators {
    width: 80%;
    height: 80%;
    
}

.carousel-inner {
    height: 90%;
    
    
}



@media (max-width : 768px) {
    #carouselExampleIndicators {
        width: 95%;
        height: 80%;
    }

    .one-cikanlar-heading {
        margin-left: -35px;
    }
}

.most-popular-blog-in-carousel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    flex: 4;
    border-radius: 1%;
    background-size: cover;
    background-image: linear-gradient(rgba(40,40,40,0.6), rgba(40,40,40,0.6)), url("https://pendc.com/assets/imgs/gallery/large/GaleriFoto-1.jpg");
}

.most-popular-blog-content-in-carousel {
    margin-left: 30px;
    max-height: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    justify-content: flex-end;
}

.deneme {
    height: 100vh !important;
    width: 100%;
    background-color: #363D4B;
}

.footer  {
    background-color: #1c1b1a;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    list-style-type: none;
    height: 120vh !important;
    
}

.footer-bir {
    display: flex;
    flex-direction: row;
    width: 67%;
    align-self: center;
    flex-wrap: wrap;
}

.credentials {  
    display: flex;
    flex-direction: column;
    flex-basis : 40%;
    margin-top: 5vh;
    height: 100%;

}

.credentials a:hover {
    text-decoration: none;
}
.credentials p{
    margin-top: 8vh;
    font-size: 18px;
    color: #7a7773;
    width: 50%;
}

.credentials img{
    width: 200px;
    height: 48px;
}

.credentials-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 65%;
    background-color: #333231;
    border-radius: 5px;
    margin-top: 10px;
    
}

.credentials-icons p {
    color : white;
    font-weight: bolder;
    font-size: 19px;
    
    margin-bottom: 20px;
    
    padding-bottom: 40px;
}

.credentials-icons img {
    width: 36px;
    max-width: 36px;
    margin-right: 10px;
    margin-left: 10px;
}

.our-services {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-right: 30px;
    height: 100%;
}

.our-services a{
    margin-top: 3px;
    color: #7a7773;
    font-size: 17px;
}


.our-services a:hover{
    color: #7a7773;
    text-decoration: none;
    border-bottom: 1px solid #f27405;
}

.pendc {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 10px;
}

.pendc a{
    margin-top: 3px;
    color: #7a7773;
    font-size: 17px;
}


.pendc a:hover{
    color: #7a7773;
    text-decoration: none;
    border-bottom: 1px solid #f27405;
}

.social-media {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    flex-basis: 10% !important;
    margin-left: 30px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
}

.social-media-icons img{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #333231;
}
.footer-section-header {
    color: #f27405;
    font-size: 18px;
    font-weight: bold;
}

.footer-last-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.footer-last-section span{
    color: #7a7773;
}

.footer-last-section a{
    color: #7a7773;
    margin-right: 20px;
}

.footer-last-section a:hover {
    text-decoration: none;
    color: #7a7773;
}

@media (max-width : 1200px) {

    .credentials {
        flex-basis: 48%;
        height: auto;
    }

    .our-services {
        flex-basis: 48%;
        height: auto;
    }
    .social-media {
        flex-basis: 50%;
        height: auto;
    }
    .pendc {
        flex-basis: 50%;
        height: auto;
    }

    .footer-bir {
        width: 70%;
    }
}

@media (max-width : 768px) {

    .footer {
        height: 190vh !important;
    }
    .credentials {
        height: auto !important;
        flex-basis: 100%;
    }

    
    .credentials-icons {
        width: auto;
    }

    .credentials-icons p{
        font-size: 18px;
        padding-bottom: 35px;
    }
    .our-services {
        height: auto;
        flex-basis: 20%;
        margin-left: 20px;
    }
    
    .pendc {
        flex-basis: 40%;
        height: auto;
    }

    .social-media {
        margin-left: 20px;
        flex-basis: 100%;
    }
    .footer-last-section {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .footer-last-section a{
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .footer-last-section img {
       margin-right: 20px;
       margin-bottom: 10px;
    }

    .footer-bir {
        width: 90%;
    }
}

.footer-last-section a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 20px;
    height: 2px;
    background-color: #f27405; /* Change the color as desired */
    transition: width 0.3s; /* Animation duration */
}

/* Animation on hover */
.footer-last-section a:hover::after {
    
    width: 100%;
}